@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}
body {
	background: #227c9d;
}

.stickyNotes {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	padding: 3rem;
	gap: 2rem;
	justify-content: center;
}

.note {
	height: 200px;
	box-sizing: border-box;
	padding: 0.5rem;
	border: none;
	border-radius: 0.25rem;
	background: #ffcb77;
	color: darkblue;
	outline: none;
	position: relative;
	resize: none;
	box-shadow: 4px 4px #888;
}

.delete {
	position: absolute;
	transform: translate(190px, -2rem);
	outline: none;
	border: none;
	color: red;
	background: #e3e3e3;
	cursor: pointer;
	font-size: 1.25rem;
	display: none;
	padding: 4px 4px;
	border-bottom-right-radius: 0.25rem;
	box-shadow: 4px 4px #888;
}
.delete:hover {
	display: block;
}
.note:hover + .delete {
	display: block;
}

.displayTrash {
	display: block;
}
.delete i {
	pointer-events: none;
}
.addNote {
	border: none;
	height: 200px;
	font-size: 3rem;
	cursor: pointer;
	outline: none;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	transition: all 0, 5s ease;
}
.addNote:hover {
	background: rgba(0, 0, 0, 0.2);
}
